[Unit]
Description=NFS Collector tracking per application/mount stats using ebpf
ConditionPathExists=|/opt/vnfs-collector/nfsops.yaml
Wants=modprobe@kheaders.service modprobe@nfsv4.service
After=modprobe@kheaders.service modprobe@nfsv4.service
After=network-online.target

[Service]
Type=idle
Restart=on-failure
User=root
WorkingDirectory=/opt/vnfs-collector
ExecStart=/usr/local/bin/vnfs-collector -C /opt/vnfs-collector/nfsops.yaml

[Install]
WantedBy=multi-user.target
