#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

pname:=vnfs-collector
install_path=$(CURDIR)/debian/$(pname)

# Read version from version.txt
pylib_version=$(shell cat version.txt | sed 's/-/.post/')
pylib_wheel=vnfs_collector-$(pylib_version)-py3-none-any.whl

%:
	dh $@

override_dh_auto_clean:

override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_install:
	mkdir -p $(install_path)/opt/$(pname)/src/hack
	mkdir -p $(install_path)/etc/systemd/system

	install -m 755 $(CURDIR)/dist/$(pylib_wheel) $(install_path)/opt/$(pname)/src/
	install -m 755 $(CURDIR)/version.txt $(install_path)/opt/$(pname)/src/
	install -m 755 $(CURDIR)/nfsops.yaml $(install_path)/opt/$(pname)/
	install -m 644 $(CURDIR)/systemd/$(pname).service $(CURDIR)/debian/
	cp -r $(CURDIR)/hack/* $(install_path)/opt/$(pname)/src/hack/
